.reLogo {
	background: url('../images/logo.png') no-repeat left top;
}
.navTabDiv {
	background: url('../images/navtab-divider.gif') no-repeat left top;
}
.navTabArrow {
	background-image: url('../images/page_arrow.png');
	background-repeat: no-repeat;
}
.closeBtn {
	background: url('../images/close-button.png') no-repeat left top;
}
.blockBg {
	background: url('../images/bg-box.gif') repeat left top;
}
.blockBgLight {
	background: url('../images/bg-box-light.gif') repeat left top;
}